<!-- SIDENAV HEADER -->
<div class="header" fxLayout="column" fxLayoutAlign="space-between start">
    <div class="logo" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <md-icon class="logo-icon">mail</md-icon>
        <span class="logo-text">Mailbox</span>
    </div>

    <div class="account" fxLayout="column">
        <div class="title">John Doe</div>
        <md-select class="account-selection" placeholder="Mail Selection"
                   floatPlaceholder="never"
                   [ngModel]="selectedAccount">
            <md-option *ngFor="let account of (accounts | keys)" [value]="account.key">
                {{account.value}}
            </md-option>
        </md-select>
    </div>

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<div class="content" perfect-scrollbar>

    <md-list>
        <div md-subheader>FOLDERS</div>
        <md-list-item *ngFor="let folder of folders">
            <a md-line [routerLink]="'/apps/mail/' + folder.handle">
                {{ folder.title }}
            </a>
        </md-list-item>

        <div md-subheader>LABELS</div>
        <md-list-item *ngFor="let label of labels">
            <a md-line [routerLink]="'/apps/mail/label/' + label.handle">
                {{ label.title }}
            </a>
        </md-list-item>
    </md-list>

</div>
<!-- / SIDENAV CONTENT -->