<!-- SIDENAV HEADER -->
<div class="header" fxLayout="column" fxLayoutAlign="space-between start">
    <div class="logo" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <md-icon class="logo-icon">mail</md-icon>
        <span class="logo-text">Mailbox</span>
    </div>

    <div class="account" fxLayout="column">
        <div class="title">John Doe</div>
        <md-select class="account-selection" placeholder="Mail Selection"
                   floatPlaceholder="never"
                   [ngModel]="selectedAccount">
            <md-option *ngFor="let account of (accounts | keys)" [value]="account.key">
                {{account.value}}
            </md-option>
        </md-select>
    </div>

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<div class="content" perfect-scrollbar>

    <div class="nav">

        <div class="nav-subheader">FOLDERS</div>

        <div class="nav-item" *ngFor="let item of folders">
            <a class="nav-link" md-ripple [routerLink]="'/apps/mail/' + item.handle">
                <md-icon class="nav-link-icon" *ngIf="item.icon">{{item.icon}}</md-icon>
                <span>{{item.title}}</span>
            </a>
        </div>

        <div class="nav-subheader">LABELS</div>

        <div class="nav-item" *ngFor="let item of labels">
            <a class="nav-link" md-ripple [routerLink]="'/apps/mail/label/' + item.handle">
                <md-icon class="nav-link-icon" [ngStyle]="{'color':item.color}">label</md-icon>
                <span>{{item.title}}</span>
            </a>
        </div>

    </div>
</div>
<!-- / SIDENAV CONTENT -->