<div class="page-layout simple tabbed" fxLayout="column">

    <!-- HEADER -->
    <div class="header">
        <h2>Tabbed</h2>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tab-group md-dynamic-height="true">

            <md-tab label="Tab 1">
                <fuse-demo-content></fuse-demo-content>
            </md-tab>

            <md-tab label="Tab 2">
                <fuse-demo-content></fuse-demo-content>
            </md-tab>

            <md-tab label="Tab 3">
                <fuse-demo-content></fuse-demo-content>
            </md-tab>

        </md-tab-group>

    </div>
    <!-- / CONTENT -->

</div>