:host {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.actions {
    justify-content: flex-end;
}

.container {
    height: 100%;
}

#fileUploading {
    min-height: 100px;
    border: 1px solid #7D818C;
    background: #ebeef8;
}

