@import "src/@fuse/scss/fuse";

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

:host {
    display: flex;

    .theme-options-panel {
        display: flex;
        flex: 1 0 auto;
        padding: 24px;
        overflow: auto;

        .close-button {
            position: absolute;
            top: 8px;
            right: 8px;
        }

        h3 {
            font-size: 14px;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.54);
        }

        .mat-divider {
            display: block !important;
            width: 100%;
            margin: 24px 0 16px 0;
        }

        .colors {
            display: block !important;
            width: 100%;
        }
    }

    .mat-list .mat-list-item {
        font-size: 15px;
    }

    .mat-divider {
        margin: 16px;
    }
}
