<div class="page-layout carded fullwidth tabbed inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- CONTENT HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="mr-16" [routerLink]="'/tasks'">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <h2 class="m-0">Task Details</h2>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">
                <mat-tab-group>

                    <mat-tab label="Employee Details">
                        <div class="tab-content p-32">
                            <app-employee-details-form [employeeDetails]=taskDetails></app-employee-details-form>
                        </div>
                    </mat-tab>

                    <mat-tab label="Contact Details">
                        <div class="tab-content p-32">
                            <app-contact-details-form [contactDetails]=taskDetails [isDisabled]=contactAvailability></app-contact-details-form>
                        </div>
                    </mat-tab>

                    <mat-tab label="Task Details">
                        <div class="tab-content p-32">
                            <app-leave-details-form [leaveDetails]=taskDetails [isDisabled]=taskAvailability></app-leave-details-form>
                        </div>
                    </mat-tab>

                    <mat-tab label="Relevent Documents">
                        <div class="tab-content p-32">
                            <div>
                                <mat-list>
                                    <mat-list-item *ngFor="let file of files">
                                        <mat-icon mat-list-icon *ngIf="file.endsWith('.pdf')">picture_as_pdf</mat-icon>
                                        <mat-icon mat-list-icon *ngIf="!file.endsWith('.pdf')">image</mat-icon>

                                        <h4 mat-line><a (click)="openFileDialog(file)">{{file}}</a></h4>
                                    </mat-list-item>
                                </mat-list>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab disabled>
                        <ng-template mat-tab-label>
                            <button mat-stroked-button [color]="'success'" class="approved" (click)="approveRequest()">
                                Approve
                            </button>
                            <button mat-stroked-button [color]="'fail'" class="rejected" (click)="openRejectDialog()">
                                Reject
                            </button>
                        </ng-template>
                    </mat-tab>



                </mat-tab-group>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>

</div>

