<div class="page-layout carded fullwidth tabbed">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- CONTENT HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="mr-16" [routerLink]="'/tasks'">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <h2 class="m-0">Task Details</h2>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">
                <mat-tab-group>

                    <mat-tab label="Employee Details">
                        <div class="tab-content p-32">
                            <app-employee-details-form [employeeDetails]=taskDetails></app-employee-details-form>
                        </div>
                    </mat-tab>

                    <mat-tab label="Contact Details">
                        <div class="tab-content p-32">
                            <app-contact-details-form [contactDetails]=taskDetails [isDisabled]=contactAvailability></app-contact-details-form>
                        </div>
                    </mat-tab>

                    <mat-tab label="Task Details">
                        <div class="tab-content p-32">
                            <app-leave-details-form [leaveDetails]=taskDetails [isDisabled]=taskAvailability></app-leave-details-form>
                        </div>
                    </mat-tab>

                    <mat-tab label="Relevent Documents">
                        <div class="tab-content p-32">
                            <div>
                                <!--<embed src="https://drive.google.com/viewerng/viewer?embedded=true&url=http://www.psych.purdue.edu/~willia55/120/11.MotivationMM.pdf"-->
                                       <!--width="100%" height="100%">-->
                                <!--<a href="http://www.psych.purdue.edu/~willia55/120/11.MotivationMM.pdf" target="popup">Document1</a>-->
                                <a (click)="openDialog()">Document</a>
                            </div>
                        </div>
                    </mat-tab>

                    <!--<mat-tab label="Comments">-->
                        <!--<div class="tab-content p-32">-->
                            <!--<div>This is great!</div>-->
                        <!--</div>-->
                    <!--</mat-tab>-->

                </mat-tab-group>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>

</div>

