app-my-task-list-details {
    .content-card {
        .content {
            .mat-success {
                color: green;
                font-weight: bold;
            }

            .mat-fail {
                color: #d90000;
                font-weight: bold;
            }

            .mat-next {
                color: #e76a15;
                font-weight: bold;
            }

            button {
                margin-right: 10px;
            }

            .example-loading-shade {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba(0, 0, 0, 0);
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        }
    }

}


