app-my-task-list-details {
    .content-card {
        .content {
            .mat-success {
                color: green;
                font-weight: bold;
            }

            .mat-fail {
                color: #d90000;
                font-weight: bold;
            }

            .mat-next {
                color: #e76a15;
                font-weight: bold;
            }

            button {
                margin-right: 10px;
            }

            //.example-loading-shade {
            //    width: 20px;
            //    height: 20px;
            //    justify-content: center;
            //}

        }
    }

}


