<mat-sidenav-container>

    <div id="main-content">

        <!-- TOOLBAR: Above -->
        <ng-container *ngIf="fuseConfig.layout.toolbar === 'above'">
            <toolbar class="above" [ngClass]="fuseConfig.colorClasses.toolbar"></toolbar>
        </ng-container>
        <!-- / TOOLBAR: Above -->

        <!-- NAVBAR: Top -->
        <navbar layout="horizontal"
                     class="top-navbar" fxHide fxShow.gt-md
                     [ngClass]="fuseConfig.colorClasses.navbar"
                     *ngIf="fuseConfig.layout.navigation.position === 'top'">
        </navbar>
        <!-- / NAVBAR: Top -->

        <div id="wrapper">

            <!-- NAVBAR: Left -->
            <fuse-sidebar [name]="'navbar'"
                          [folded]="fuseConfig.layout.navigation.folded"
                          [lockedOpen]="'gt-md'"
                          class="left-navbar" [ngClass]="fuseConfig.colorClasses.navbar"
                          *ngIf="fuseConfig.layout.navigation.position === 'left' || fuseConfig.layout.navigation.position === 'top'">
                <navbar layout="vertical"></navbar>
            </fuse-sidebar>
            <!-- / NAVBAR: Left -->

            <div class="content-wrapper">

                <!-- TOOLBAR: Below -->
                <ng-container *ngIf="fuseConfig.layout.toolbar === 'below'">
                    <toolbar class="below" [ngClass]="fuseConfig.colorClasses.toolbar"></toolbar>
                </ng-container>
                <!-- / TOOLBAR: Below -->

                <content></content>

                <!-- FOOTER: Below -->
                <ng-container *ngIf="fuseConfig.layout.footer === 'below'">
                    <footer class="below" [ngClass]="fuseConfig.colorClasses.footer"></footer>
                </ng-container>
                <!-- / FOOTER: Below -->

            </div>

            <!-- NAVBAR: Right -->
            <fuse-sidebar [name]="'navbar'" [align]="'right'"
                          [folded]="fuseConfig.layout.navigation.folded"
                          [lockedOpen]="'gt-md'"
                          class="right-navbar" [ngClass]="fuseConfig.colorClasses.navbar"
                          *ngIf="fuseConfig.layout.navigation.position === 'right'">
                <navbar layout="vertical"></navbar>
            </fuse-sidebar>
            <!-- / NAVBAR: Right -->

        </div>

        <!-- FOOTER: Above -->
        <ng-container *ngIf="fuseConfig.layout.footer === 'above'">
            <footer class="above" [ngClass]="fuseConfig.colorClasses.footer"></footer>
        </ng-container>
        <!-- FOOTER: Above -->

    </div>

    <!-- QUICK PANEL -->
    <mat-sidenav fuseMatSidenavHelper="quick-panel" position="end">
        <quick-panel></quick-panel>
    </mat-sidenav>
    <!-- / QUICK PANEL -->

</mat-sidenav-container>

<fuse-theme-options [navigation]="navigation"></fuse-theme-options>