<div class="page-layout carded fullwidth tabbed inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- CONTENT HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="mr-16" [routerLink]="'/history/list'">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <h2 class="m-0">Request Details</h2>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">
                <mat-tab-group>

                    <mat-tab label="Process Diagram">
                        <div #canvas class="tab-content p-24" style="width: 1000px; height: 500px">
                            <!--<div #canvas></div>-->
                        </div>
                    </mat-tab>

                    <!--<mat-tab label="Request Details">-->
                        <!--<div class="tab-content p-24">-->
                            <!--<app-leave-details-form [leaveDetails]=requestDetails [isDisabled]=requestAvailability></app-leave-details-form>-->
                        <!--</div>-->
                    <!--</mat-tab>-->
                </mat-tab-group>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>

</div>

