<div class="sidenav-content p-24 pr-4">

    <div class="card md-white-bg mat-elevation-z4">
        <!-- SIDENAV HEADER -->
        <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">

            <!-- USER -->
            <img [src]="user.avatar" class="avatar mr-16" [alt]="user.name"/>
            <span class="h5">{{user.name}}</span>
            <!-- / USER -->

        </div>
        <!-- / SIDENAV HEADER -->

        <!-- SIDENAV CONTENT -->
        <div class="content py-16" perfect-scrollbar>

            <div class="nav">

                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" md-ripple>
                        <span class="title">All Contacts</span>
                    </a>
                </div>

                <div class="nav-item" aria-label="starred">
                    <a class="nav-link" md-ripple>
                        <div class="title">Freequently contacted</div>
                    </a>
                </div>

                <div class="nav-item" aria-label="starred">
                    <a class="nav-link" md-ripple>
                        <div class="title">Starred Contacts</div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- / SIDENAV CONTENT -->
