:host {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100%;

    .sidenav-content {
        display: flex;
        flex-direction: column;

        .card {
            display: flex;
            flex-direction: column;
            flex: 0 1 auto;

            > .header {
                flex: 0 1 auto;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            }

            > .content {
                flex: 0 1 auto;
            }
        }
    }
}
