<div id="ngx-datatable" class="page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="header md-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <md-icon class="secondary-text s-16">home</md-icon>
                <md-icon class="secondary-text s-16">chevron_right</md-icon>
                <span class="secondary-text">Tables</span>
            </div>
            <div class="h2 mt-16">ngx-datatable</div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center">
            <a md-raised-button class="md-white-bg"
               href="https://github.com/swimlane/ngx-datatable"
               target="_blank">
                <md-icon>link</md-icon>
                <span>Reference</span>
            </a>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <ngx-datatable
            class="material"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columns]="columns"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [reorderable]="reorderable"
            [limit]="10">
        </ngx-datatable>

    </div>

</div>

