@import "src/@fuse/scss/fuse";

:host {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    mat-toolbar {

        .toolbar-bottom {
            height: 240px;

            @include media-breakpoint-down(md) {
                height: 180px;
            }
        }
    }

    .sidenav-content {
        background: whitesmoke;
    }
}
