<div class="page-layout blank p-24" fusePerfectScrollbar>
    <table>
        <tr *ngFor="let provider of providers">
            <td><strong>{{provider.name}}</strong></td>
            <td>&nbsp;</td>
            <td>
                <button style="background-color: #00aa00" mat-flat-button color="accent" (click)="redirectForAuthorization(provider)">Authorize</button>
            </td>
            <td>&nbsp;</td>
            <td>
                <button mat-flat-button [disabled]="!provider.authorized" color="warn"
                        (click)="revokeAuthorizationCode(provider)">Revoke
                </button>
            </td>
        </tr>
    </table>
</div>
