<div class="page-layout blank p-24" fusePerfectScrollbar>
    <table>
        <tr *ngFor="let provider of providers">
            <td><strong>{{provider.name}}</strong></td>
            <td *ngIf="!provider.authorized">
                <button style="width: 100px" mat-flat-button color="accent" (click)="redirectForAuthorization(provider)">Authorize</button>
            </td>
            <td *ngIf="provider.authorized">
                <button style="width: 100px" mat-flat-button color="warn"
                        (click)="revokeAuthorizationCode(provider)">Revoke
                </button>
            </td>
        </tr>
    </table>
</div>
