@import "src/@fuse/scss/fuse";

app-my-task-list {

    #tasks {

        .top-bg {

            @include media-breakpoint('lt-md') {
                height: 256px;
            }
        }

        > .center {

            > .header {

                .search-wrapper {
                    width: 100%;
                    max-width: 480px;
                    border-radius: 28px;
                    overflow: hidden;
                    @include mat-elevation(1);

                    @include media-breakpoint('xs') {
                        width: 100%;
                    }

                    .search {
                        width: 100%;
                        height: 48px;
                        line-height: 48px;
                        padding: 0 18px;

                        input {
                            width: 100%;
                            height: 48px;
                            min-height: 48px;
                            max-height: 48px;
                            padding: 0 16px;
                            border: none;
                            outline: none;
                        }
                    }
                }

                @include media-breakpoint('lt-md') {
                    padding: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }
        }
    }

    .tasks-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .mat-header-row {
            min-height: 64px;
        }

        .mat-header-cell {
            margin: auto;
        }

        .task {
            //position: relative;
            cursor: pointer;
            height: 50px;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
        }

        .mat-column-id {
            flex: 0 1 84px;
        }

        .mat-column-recommendation {
            flex: 0 1 100px;
        }

        .mat-column-type {
            flex: 0 1 200px;
        }

        .mat-column-dueDate {
            flex: 0 1 200px;
        }

        .mat-column-owner {
            flex: 0 1 150px;
        }

        .mat-column-submittedDate {
            flex: 0 1 200px;
        }

        .mat-column-actions {
            flex: 0 1 250px;
        }

        .active-icon {
            border-radius: 100%;
        }

        .review_leave {
            background: darkorchid;
            color: white;
        }

        .review_loan {
            background: #8BD649;
        }


        .mat-stroked-button {
            margin-left: 10px;
        }

        .mat-success {
            color: #43A047;
        }

    }
}
