<div id="requests" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    history
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Submitted Request
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Search for a request">
                </div>
            </div>

            <!-- ADD BUTTON -->
            <button mat-raised-button
                    [routerLink]="'/request/leave'"
                    class="fuse-white mt-24 mt-md-0">
                <span>NEW REQUEST</span>
            </button>
            <!-- / ADD BUTTON -->

            <!--<mat-select class="newRequest">New Request-->
                <!--<mat-option [routerLink]="'/request/leave'">Leave</mat-option>-->
                <!--<mat-option>Loan</mat-option>-->
            <!--</mat-select>-->

        </div>
        <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="content-card">
            <mat-table class="request-table"
                       #table [dataSource]="submittedRequests"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>


                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
                    <mat-cell *matCellDef="let i = index">
                        <p class="text-truncate">{{i +1}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef>Request type</mat-header-cell>
                    <mat-cell *matCellDef="let request">
                        <p class="text-truncate h6 p-4" [ngClass]="request.processDefinitionId.split(':')[0]">
                            {{request.processDefinitionId | processDefinitionKey}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="submitted_date">
                    <mat-header-cell *matHeaderCellDef>Submitted date</mat-header-cell>
                    <mat-cell *matCellDef="let request">
                        <p class="text-truncate">{{request.submittedDate | date}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="due_date">
                    <mat-header-cell *matHeaderCellDef>Due date</mat-header-cell>
                    <mat-cell *matCellDef="let request">
                        <p class="text-truncate">{{request.dueDate | date}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="assignee">
                    <mat-header-cell *matHeaderCellDef>Assignee</mat-header-cell>
                    <mat-cell *matCellDef="let request">
                        <p class="text-truncate">{{request.assignee | titlecase}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell *matCellDef="let request">
                        <p class="text-truncate">{{request.status | titlecase}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="progress">
                    <mat-header-cell *matHeaderCellDef>Progress</mat-header-cell>
                    <mat-cell *matCellDef="let request">
                        <p class="text-truncate">{{request.progress}}</p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
                <mat-row *matRowDef="let request; columns: displayedColumns;"
                         class="request" matRipple [routerLink]="'/history/details/'+request.processInstanceId">
                </mat-row>

            </mat-table>

            <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
        </div>
    </div>
</div>
