:host {

    .content {

        form {
            width: 100%;
            max-width: 800px !important;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .horizontal-stepper-wrapper,
        .vertical-stepper-wrapper {
            max-width: 800px;
        }
    }
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

th, td{
    text-align: center;
    padding: 6px;
    border: 1px solid #ccc;
}

.header{
    background: #9EA1A9;
    color: #FFFFFF;
    font-weight: bold;
}


.leaveTypesButton {
    margin: 10px;
    margin-right: 50px;
}

#faculty{
    margin-right: 10px;
}

#department{
    margin-left: 10px;
}