<md-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>

        <a href="http://themeforest.net/item/fuse-angularjs-material-design-admin-template/12931855?ref=srcn"
           target="_blank" md-button class="ml-8 ml-sm-24 md-accent-800-bg" fxFlex="0 0 auto" fxLayout="row"
           fxLayoutAlign="start center">
            <md-icon class="s-16 mr-sm-4">shopping_cart</md-icon>
            <span>Purchase Fuse template (Angular4+)</span>
        </a>

    </div>

</md-toolbar>
