<div id="main">

    <!-- TOOLBAR: Above sticky -->
    <ng-container *ngIf="fuseConfig.layout.toolbar.position === 'above-sticky'">
        <toolbar class="above-sticky" [ngClass]="fuseConfig.layout.toolbar.background"></toolbar>
    </ng-container>
    <!-- / TOOLBAR: Above sticky -->

    <div id="container-1" class="container" fusePerfectScrollbar>

        <!-- TOOLBAR: Above -->
        <ng-container *ngIf="fuseConfig.layout.toolbar.position === 'above'">
            <toolbar class="above" [ngClass]="fuseConfig.layout.toolbar.background"></toolbar>
        </ng-container>
        <!-- / TOOLBAR: Above -->

        <div id="container-2" class="container">

            <!-- NAVBAR: Left -->
            <fuse-sidebar [name]="'navbar'"
                          [folded]="fuseConfig.layout.navigation.folded"
                          [lockedOpen]="'gt-md'"
                          class="left-navbar" [ngClass]="fuseConfig.layout.navigation.background"
                          *ngIf="fuseConfig.layout.navigation.position === 'left' || fuseConfig.layout.navigation.position === 'top'">
                <navbar layout="vertical"></navbar>
            </fuse-sidebar>
            <!-- / NAVBAR: Left -->

            <div id="container-3" class="container">

                <!-- TOOLBAR: Below -->
                <ng-container *ngIf="fuseConfig.layout.toolbar.position === 'below'">
                    <toolbar class="below" [ngClass]="fuseConfig.layout.toolbar.background"></toolbar>
                </ng-container>
                <!-- / TOOLBAR: Below -->

                <!-- CONTENT -->
                <content></content>
                <!-- / CONTENT -->

                <!-- FOOTER: Below -->
                <ng-container *ngIf="fuseConfig.layout.footer.position === 'below'">
                    <footer class="below" [ngClass]="fuseConfig.layout.footer.background"></footer>
                </ng-container>
                <!-- / FOOTER: Below -->

            </div>

            <!-- NAVBAR: Right -->
            <fuse-sidebar [name]="'navbar'" position="right"
                          [folded]="fuseConfig.layout.navigation.folded"
                          [lockedOpen]="'gt-md'"
                          class="right-navbar" [ngClass]="fuseConfig.layout.navigation.background"
                          *ngIf="fuseConfig.layout.navigation.position === 'right'">
                <navbar layout="vertical"></navbar>
            </fuse-sidebar>
            <!-- / NAVBAR: Right -->

        </div>

        <!-- FOOTER: Above -->
        <ng-container *ngIf="fuseConfig.layout.footer.position === 'above'">
            <footer class="above" [ngClass]="fuseConfig.layout.footer.background"></footer>
        </ng-container>
        <!-- FOOTER: Above -->

    </div>

    <!-- FOOTER: Above sticky -->
    <ng-container *ngIf="fuseConfig.layout.footer.position === 'above-sticky'">
        <footer class="above-sticky" [ngClass]="fuseConfig.layout.footer.background"></footer>
    </ng-container>
    <!-- FOOTER: Above sticky -->

</div>

<!-- QUICK PANEL -->
<fuse-sidebar [name]="'quickPanel'" position="right" class="quick-panel">
    <quick-panel></quick-panel>
</fuse-sidebar>
<!-- / QUICK PANEL -->