<md-table #table [dataSource]="dataSource">

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let contact">
            Check
        </md-cell>
    </ng-container>

    <!-- Avatar Column -->
    <ng-container cdkColumnDef="avatar">
        <md-header-cell *cdkHeaderCellDef>Name</md-header-cell>
        <md-cell *cdkCellDef="let contact">
            <img class="avatar" *ngIf="contact.avatar" [alt]="contact.name"
                 [src]="contact.avatar"/>
        </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
        <md-header-cell *cdkHeaderCellDef>Name</md-header-cell>
        <md-cell *cdkCellDef="let contact">
            <p class="text-truncate font-weight-600">{{contact.name}} {{contact.lastName}}</p>
        </md-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container cdkColumnDef="email">
        <md-header-cell *cdkHeaderCellDef>Email</md-header-cell>
        <md-cell *cdkCellDef="let contact">
            <p class="email text-truncate" fxShow.gt-sm>
                {{contact.email}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container cdkColumnDef="phone">
        <md-header-cell *cdkHeaderCellDef>Phone</md-header-cell>
        <md-cell *cdkCellDef="let contact">
            <p class="phone text-truncate" fxShow.gt-md>
                {{contact.phone}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Job Title Column -->
    <ng-container cdkColumnDef="jobTitle">
        <md-header-cell *cdkHeaderCellDef>Job title</md-header-cell>
        <md-cell *cdkCellDef="let contact">
            <p class="job-title text-truncate" fxShow.gt-lg>
                {{contact.jobTitle}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Company Column -->
    <ng-container cdkColumnDef="company">
        <md-header-cell *cdkHeaderCellDef>Company</md-header-cell>
        <md-cell *cdkCellDef="let contact">
            <p class="company text-truncate" fxShow.gt-lg>
                {{contact.company}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let row">
            Buttons
        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"
            (click)="onSelect(row)"
            [ngClass]="{'md-light-blue-50-bg':row == selected}"
            md-ripple>
    </md-row>
</md-table>
