<form fxLayout="column" [formGroup]="contactDetailsForm" *ngIf="contactDetailsForm">

    <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Address</mat-label>
        <textarea matInput formControlName="address" required></textarea>
        <mat-error>Address is required!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" readonly required>
        <mat-icon matSuffix class="secondary-text">mail</mat-icon>
        <mat-error *ngIf="contactDetailsForm.get('email').hasError('required')">
            Email is required
        </mat-error>
        <mat-error
            *ngIf="!contactDetailsForm.get('email').hasError('required') &&
                                contactDetailsForm.get('email').hasError('email')">
            Please enter a valid email address
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Mobile number</mat-label>
        <input matInput formControlName="mobileNo" required>
        <mat-icon matSuffix class="secondary-text">phone_android</mat-icon>
        <mat-error>Mobile number is required!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Telephone number</mat-label>
        <input matInput formControlName="telephoneNo">
        <mat-icon matSuffix class="secondary-text">local_phone</mat-icon>
    </mat-form-field>


</form>