.mat-icon-button {

    .mat-button-ripple {
        border-radius: 50%;
    }
}

md-sidenav-container {

    md-sidenav {
        order: 1;

        &.md-is-locked-open {
            position: relative !important;
        }

        &.md-stop-transition {
            transition: none !important;
            transform: translate3d(0, 0, 0) !important;

            ~ .mat-sidenav-content,
            ~ .mat-drawer-content {
                transition: none !important;
            }
        }

        &.mat-sidenav-opened {

            &.mat-drawer-side {

                &.md-is-locked-open {
                    position: relative !important;
                }

                ~ .mat-sidenav-content,
                ~ .mat-drawer-content {
                    transition: none !important;
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                    transform: translate3d(0, 0, 0) !important;
                }
            }
        }

        &.mat-drawer-end {
            order: 3;
        }
    }

    .mat-drawer-content {
        order: 2;
    }
}