// Page Layouts
$header-height: 200px;
$header-height-sm: 160px;

$card-toolbar-height: 64px;
$card-header-height: $header-height - $card-toolbar-height;
$card-header-height-sm: $header-height-sm - $card-toolbar-height;

.page-layout {
    position: relative;
    overflow: hidden;

    // Top bg
    .top-bg {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        left: 0;
        height: $header-height;
        background-color: mat-color($accent);
    }

    // Carded layout
    &.carded {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;

        // Fullwidth
        &.fullwidth {

            // Single scroll
            &.single-scroll {
                height: auto;

                > .center {

                    .content-card {

                        .content {
                            overflow: hidden;
                        }
                    }
                }
            }

            // Center
            > .center {
                display: flex;
                flex-direction: column;
                flex: 1;
                position: relative;
                z-index: 2;
                margin-left: 32px;
                margin-right: 32px;

                .header {
                    height: $card-header-height;
                    min-height: $card-header-height;
                    max-height: $card-header-height;
                    padding: 24px;
                }

                .content-card {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    background: #FFFFFF;
                    overflow: hidden;
                    @include mat-elevation(7);

                    .toolbar {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 8px 24px;
                        height: $card-toolbar-height;
                        min-height: $card-toolbar-height;
                        max-height: $card-toolbar-height;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                    }

                    .content {
                        display: flex;
                        flex: 1;
                        padding: 24px;
                        background: #FFFFFF;
                        overflow: auto;
                    }
                }
            }
        }

        // Left sidenav - Right sidenav
        &.left-sidenav,
        &.right-sidenav {

            // Single scroll
            &.single-scroll {
                height: auto;
            }

            > md-sidenav-container {
                display: flex;
                background: none;
                z-index: 2;
                width: 100%;

                .sidenav {
                    display: flex;
                    flex-direction: column;
                    width: 240px;
                    min-width: 240px;
                    max-width: 240px;
                    z-index: 2;
                    overflow-y: hidden;
                    @include mat-elevation(7);

                    &.md-is-locked-open {
                        position: relative;
                        background: none;
                        box-shadow: none;
                    }

                    &.md-stop-transition {

                        ~ .mat-sidenav-content {
                            transition: none;
                        }
                    }

                    .header {
                        height: $header-height;
                        min-height: $header-height;
                        max-height: $header-height;
                        padding: 24px;
                    }

                    .content {
                        background: transparent;
                        padding: 24px;
                        overflow: auto;
                    }
                }

                .mat-sidenav-content {
                    flex: 1;
                    overflow: visible;

                    // Center
                    .center {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        position: relative;
                        z-index: 3;
                        height: 100%;
                        margin-left: 32px;
                        margin-right: 32px;

                        .header {
                            display: flex;
                            height: $card-header-height;
                            min-height: $card-header-height;
                            max-height: $card-header-height;
                            padding: 24px;
                        }

                        .content-card {
                            display: flex;
                            flex-direction: column;
                            flex: 1;
                            background: #FFFFFF;
                            overflow: hidden;
                            @include mat-elevation(7);

                            .toolbar {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                flex: 1;
                                padding: 8px 24px;
                                height: $card-toolbar-height;
                                min-height: $card-toolbar-height;
                                max-height: $card-toolbar-height;
                                border-bottom: 1px solid rgba(0, 0, 0, 0.12);

                                .sidenav-toggle {
                                    margin: 0 8px 0 0 !important;
                                    padding: 0 !important;
                                    border-radius: 0;
                                }
                            }

                            .content {
                                display: flex;
                                flex: 1;
                                padding: 24px;
                                background: #FFFFFF;
                                overflow: auto;
                            }
                        }
                    }
                }
            }
        }

        // Left sidenav
        &.left-sidenav {

            // Sidenav
            > md-sidenav-container {

                .sidenav {

                    &.md-is-locked-open {

                        ~ .mat-sidenav-content {
                            margin-left: 0 !important;

                            .center {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }

        // Right sidenav
        &.right-sidenav {

            // Sidenav
            > md-sidenav-container {

                .sidenav {
                    order: 999;

                    &.md-is-locked-open {

                        ~ .mat-sidenav-content {
                            margin-right: 0px !important;

                            .center {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    // Simple layout
    &.simple {

        // Fullwidth
        &.fullwidth,
        &.inner-sidenav {
            min-height: 100%;

            > .header {
                height: $header-height;
                min-height: $header-height;
                max-height: $header-height;
                padding: 24px;
                background-color: mat-color($accent);
            }

            > .content {
                padding: 24px;
            }
        }

        // Left sidenav - Right sidenav
        &.left-sidenav,
        &.right-sidenav {
            min-height: 100%;
            height: 100%;

            // Single scroll
            &.single-scroll {
                height: auto;

                > md-sidenav-container {

                    > .center {
                        overflow: hidden;
                    }
                }
            }

            > md-sidenav-container {

                .sidenav {
                    width: 240px;
                    min-width: 240px;
                    max-width: 240px;
                    padding: 24px;
                    z-index: 51;
                    @include mat-elevation(7);

                    &.md-is-locked-open {
                        width: 220px;
                        min-width: 220px;
                        max-width: 220px;
                        box-shadow: none;
                        background: transparent;
                    }

                    &.md-stop-transition {

                        ~ .mat-sidenav-content {
                            transition: none;
                        }
                    }
                }

                .mat-sidenav-content {
                    overflow: visible;

                    .header {
                        height: $header-height;
                        min-height: $header-height;
                        max-height: $header-height;
                        padding: 24px;
                        background-color: mat-color($accent);
                    }

                    .center {
                        overflow: auto;
                        @include mat-elevation(7);

                        .content {
                            padding: 24px;
                            background: #FFFFFF;
                        }
                    }
                }
            }
        }

        // Tabbed
        &.tabbed {
            min-height: 100%;

            .header {
                height: $header-height;
                min-height: $header-height;
                max-height: $header-height;
                padding: 24px;
                background-color: mat-color($accent);
            }

            > .content {

                .mat-tab-group {

                    .mat-tab-labels {
                        padding: 0 24px;
                    }

                    .mat-tab-body {
                        padding: 24px;
                    }
                }
            }
        }
    }

    // Blank layout
    &.blank {
        min-height: 100%;
        padding: 24px;
    }
}
