@import "src/@fuse/scss/fuse";

chat-panel {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 360px;
    min-width: 360px;
    max-width: 360px;
    z-index: 99;
    overflow: hidden;

    .header {
        height: 64px;
        max-height: 64px;
        min-height: 64px;

        .title {

            mat-icon {
                margin-left: 4px;
            }

            h3 {
                max-width: 120px;
                transition: opacity 300ms ease-in-out;
            }
        }
    }

    #contacts-list {
        padding: 8px 0;
        overflow: auto;
        width: 72px;
        min-width: 72px;
        max-width: 72px;

        // Perfect scrollbar
        .ps__rail-y {
            width: 3px !important;

            .ps__thumb-y {
                width: 3px !important;
            }
        }

        .mat-list-item {
            cursor: pointer;
            position: relative;

            &.active {
                background-color: mat-color(mat-palette($mat-grey, 300));
                @include mat-elevation(2);
            }

            &.offline {

                .mat-list-item-content {

                    img {
                        filter: grayscale(100%);
                        opacity: 0.7;
                    }

                    h3 {
                        opacity: 0.7;
                    }
                }
            }

            .mat-list-item-content {

                .unread-count {
                    position: absolute;
                    min-width: 18px;
                    height: 18px;
                    top: 4px;
                    left: 10px;
                    border-radius: 9px;
                    padding: 0 5px;
                    font-size: 11px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: mat-color(mat-palette($mat-indigo));
                    color: white;
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.35);
                }

                .status-icon {
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    bottom: 3px;
                    left: 44px;
                    border: 2px solid white;
                    border-radius: 50%;

                    &.online {
                        background-color: #4CAF50;
                    }

                    &.do-not-disturb {
                        background-color: #F44336;
                    }

                    &.away {
                        background-color: #FFC107;
                    }

                    &.offline {
                        background-color: #646464;
                    }
                }
            }
        }
    }

    #chat {
        background-color: mat-color(mat-palette($mat-grey, 300));

        .messages {
            position: relative;
            overflow: auto;
            padding: 16px 0 40px 40px;

            .message-row {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                padding: 0 16px 4px 16px;

                .avatar {
                    position: absolute;
                    left: -32px;
                    margin: 0;
                }

                .bubble {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 12px;

                    .message {
                        white-space: pre-wrap;
                        line-height: 1.2;
                    }

                    .time {
                        position: absolute;
                        display: none;
                        width: 100%;
                        font-size: 11px;
                        margin-top: 8px;
                        top: 100%;
                        color: $black-87-opacity;
                        white-space: nowrap;
                    }
                }

                &.contact {

                    .bubble {
                        background-color: mat-color(mat-palette($mat-indigo));
                        color: white;

                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;

                        border-top-right-radius: 20px;
                        border-bottom-right-radius: 20px;

                        .time {
                            margin-left: 12px;
                        }
                    }

                    &.first-of-group {

                        .bubble {
                            border-top-left-radius: 20px;
                        }
                    }

                    &.last-of-group {

                        .bubble {
                            border-bottom-left-radius: 20px;
                        }
                    }
                }

                &.me {
                    padding-left: 40px;

                    .avatar {
                        order: 2;
                        margin: 0 0 0 16px;
                    }

                    .bubble {
                        margin-left: auto;
                        background-color: #FFFFFF;
                        color: $black-87-opacity;

                        border-top-left-radius: 20px;
                        border-bottom-left-radius: 20px;

                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;

                        .time {
                            justify-content: flex-end;
                            right: 0;
                            margin-right: 12px;
                        }
                    }

                    &.first-of-group {

                        .bubble {
                            border-top-right-radius: 20px;
                        }
                    }

                    &.last-of-group {

                        .bubble {
                            border-bottom-right-radius: 20px;
                        }
                    }
                }

                &.contact + .me,
                &.me + .contact {
                    padding-top: 20px;
                    margin-top: 20px;
                }

                &.first-of-group {

                    .bubble {
                        border-top-left-radius: 20px;
                        padding-top: 13px;
                    }
                }

                &.last-of-group {

                    .bubble {
                        border-bottom-left-radius: 20px;
                        padding-bottom: 13px;

                        .time {
                            display: flex;
                        }
                    }
                }
            }

            .no-messages-icon {
                position: absolute;
                top: 50%;
                right: 0;
                left: 0;
                padding: 0 24px;
                margin-top: -64px;
                text-align: center;

                mat-icon {
                    color: rgba(0, 0, 0, 0.06);
                }
            }

            .no-messages {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 0 16px 24px 16px;
                text-align: center;
            }
        }

        .reply-form {
            position: relative;

            .message-text {
                padding: 16px 8px;

                .mat-form-field-wrapper {
                    padding: 0;

                    .mat-form-field-flex {
                        padding: 0;

                        .mat-form-field-infix {
                            padding: 0;
                            border: none;
                            background: white;
                            border-radius: 20px;
                            @include mat-elevation(2);

                            textarea {
                                overflow: hidden;
                                margin: 16px 48px 16px 16px;
                                width: calc(100% - 64px);
                                padding: 0;
                            }
                        }
                    }

                    .mat-form-field-underline {
                        display: none !important;
                    }
                }
            }

            .send-message-button {
                position: absolute;
                right: 16px;
                bottom: 21px;
            }
        }
    }
}

fuse-sidebar {

    &.chat-panel {
        width: 360px;
        min-width: 360px;
        max-width: 360px;

        // Folded
        &.folded {

            chat-panel {

                .header {

                    .title {

                        h3 {
                            opacity: 0;
                        }
                    }
                }
            }

            // Folded unfolded
            &.unfolded {

                chat-panel {

                    .header {

                        .title {

                            h3 {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}