@import 'src/app/core/scss/fuse';

#main-navigation {
    margin: 0;
    padding: 0;

    .nav-item {

        .nav-link {
            background-color: map-get($background, raised-button);
            color: map_get($foreground, text);

            &:hover {
                background-color: map-get($background, hover);
            }
        }
    }
}
