<div id="cards" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Components</span>
            </div>
            <div class="h2 mt-16">Cards</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <div fxLayout="column" fxLayoutAlign="start start">

            <!-- CARD 1 -->
            <div class="card-row" fxLayout="row" fxLayoutAlign="center start" fxLayoutAlign.gt-sm="start start"
                 fxLayoutWrap>

                <!-- PREVIEW -->
                <div class="card-preview">

                    <div class="fuse-card">

                        <div class="card-rich-media">
                            <img src="assets/images/cards/card1.jpg">
                        </div>

                        <div class="card-primary-title">
                            <div class="card-title">Kangaroo Valley Safari</div>
                            <div class="card-subtitle secondary-text">Free on Thursdays</div>
                        </div>

                        <div class="card-supporting-text">
                            Cards provide context and an entry point to more robust information and views, and their
                            content and quantity can vary greatly.
                        </div>

                    </div>

                </div>
                <!-- / PREVIEW -->

                <!-- SOURCE -->
                <div class="card-source mat-grey-200-bg" fxHide fxShow.gt-sm>
                    <fuse-hljs lang="html" class="source-code">
                        <textarea #source hidden="hidden">
                            <div class="fuse-card">

                                <div class="card-rich-media">
                                    <img src="assets/images/cards/card1.jpg">
                                </div>

                                <div class="card-primary-title">
                                    <div class="card-title">Kangaroo Valley Safari</div>
                                    <div class="card-subtitle secondary-text">Free on Thursdays</div>
                                </div>

                                <div class="card-supporting-text">
                                    Cards provide context and an entry point to more robust information and views, and
                                    their content and quantity can vary greatly.
                                </div>

                            </div>
                        </textarea>
                    </fuse-hljs>
                </div>
                <!-- / SOURCE -->

            </div>
            <!-- / CARD 1 -->

            <!-- CARD 2 -->
            <div class="card-row" fxLayout="row" fxLayoutAlign="center start" fxLayoutAlign.gt-sm="start start"
                 fxLayoutWrap>

                <!-- PREVIEW -->
                <div class="card-preview">

                    <div class="fuse-card">

                        <div class="card-rich-media">
                            <img src="assets/images/cards/card1.jpg">
                        </div>

                        <div class="card-primary-title">
                            <div class="card-title">Kangaroo Valley Safari</div>
                            <div class="card-subtitle secondary-text">Free on Thursdays</div>
                        </div>

                        <div class="card-supporting-text">
                            Cards provide context and an entry point to more robust information and views, and their
                            content and quantity can vary greatly.
                        </div>

                        <div class="card-actions">
                            <button mat-button color="accent">SHARE</button>
                            <button mat-button color="accent">EXPLORE</button>
                        </div>

                    </div>

                </div>
                <!-- / PREVIEW -->

                <!-- SOURCE -->
                <div class="card-source mat-grey-200-bg" fxHide fxShow.gt-sm>
                    <fuse-hljs lang="html" class="source-code">
                        <textarea #source hidden="hidden">
                            <div class="fuse-card">

                                <div class="card-rich-media">
                                    <img src="assets/images/cards/card1.jpg">
                                </div>

                                <div class="card-primary-title">
                                    <div class="card-title">Kangaroo Valley Safari</div>
                                    <div class="card-subtitle secondary-text">Free on Thursdays</div>
                                </div>

                                <div class="card-supporting-text">
                                    Cards provide context and an entry point to more robust information and views, and
                                    their content and quantity can vary greatly.
                                </div>

                                <div class="card-actions">
                                    <button mat-button color="accent">SHARE</button>
                                    <button mat-button color="accent">EXPLORE</button>
                                </div>

                            </div>
                        </textarea>
                    </fuse-hljs>
                </div>
                <!-- / SOURCE -->

            </div>
            <!-- / CARD 2 -->

            <!-- CARD 3 -->
            <div class="card-row" fxLayout="row" fxLayoutAlign="center start" fxLayoutAlign.gt-sm="start start"
                 fxLayoutWrap>

                <!-- PREVIEW -->
                <div class="card-preview">

                    <div class="fuse-card">

                        <div class="card-primary-title">
                            <div class="card-title">Kangaroo Valley Safari</div>
                            <div class="card-subtitle secondary-text">Free on Thursdays</div>
                        </div>

                        <div class="card-supporting-text">
                            Cards provide context and an entry point to more robust information and views, and their
                            content and quantity can vary greatly.
                        </div>

                    </div>

                </div>
                <!-- / PREVIEW -->

                <!-- SOURCE -->
                <div class="card-source mat-grey-200-bg" fxHide fxShow.gt-sm>
                    <fuse-hljs lang="html" class="source-code">
                        <textarea #source hidden="hidden">
                            <div class="fuse-card">

                                <div class="card-primary-title">
                                    <div class="card-title">Kangaroo Valley Safari</div>
                                    <div class="card-subtitle secondary-text">Free on Thursdays</div>
                                </div>

                                <div class="card-supporting-text">
                                    Cards provide context and an entry point to more robust information and views, and
                                    their content and quantity can vary greatly.
                                </div>

                            </div>
                        </textarea>
                    </fuse-hljs>
                </div>
                <!-- / SOURCE -->

            </div>
            <!-- / CARD 3 -->

            <!-- CARD 4 -->
            <div class="card-row" fxLayout="row" fxLayoutAlign="center start" fxLayoutAlign.gt-sm="start start"
                 fxLayoutWrap>

                <!-- PREVIEW -->
                <div class="card-preview">

                    <div class="fuse-card mat-indigo-bg">

                        <div class="card-primary-title">
                            <div class="card-title">Kangaroo Valley Safari</div>
                            <div class="card-subtitle secondary-text">Free on Thursdays</div>
                        </div>

                        <div class="card-supporting-text">
                            All cards can be mixed with Fuse Color Classes to have different colors. This greatly
                            increases the unique variations of all cards. Cards provide context and an entry point to
                            more robust information and views, and their content and quantity can vary greatly.
                        </div>

                        <div class="card-actions">
                            <button mat-button>SHARE</button>
                            <button mat-button>EXPLORE</button>
                        </div>

                    </div>

                </div>
                <!-- / PREVIEW -->

                <!-- SOURCE -->
                <div class="card-source mat-grey-200-bg" fxHide fxShow.gt-sm>
                    <fuse-hljs lang="html" class="source-code">
                        <textarea #source hidden="hidden">
                            <div class="fuse-card">

                                <div class="card-primary-title">
                                    <div class="card-title">Kangaroo Valley Safari</div>
                                    <div class="card-subtitle secondary-text">Free on Thursdays</div>
                                </div>

                                <div class="card-supporting-text">
                                    All cards can be mixed with Fuse Color Classes to have different colors. This
                                    greatly increases the unique variations of all cards. Cards provide context and an
                                    entry point to more robust information and views, and their content and quantity can
                                    vary greatly.
                                </div>

                                <div class="card-actions">
                                    <button mat-button>SHARE</button>
                                    <button mat-button>EXPLORE</button>
                                </div>

                            </div>
                        </textarea>
                    </fuse-hljs>
                </div>
                <!-- / SOURCE -->

            </div>
            <!-- / CARD 4 -->

            <!-- CARD 5 -->
            <div class="card-row" fxLayout="row" fxLayoutAlign="center start" fxLayoutAlign.gt-sm="start start"
                 fxLayoutWrap>

                <!-- PREVIEW -->
                <div class="card-preview">

                    <div class="fuse-card">

                        <div class="card-rich-media">
                            <img src="assets/images/cards/card1.jpg">
                        </div>

                        <div class="card-primary-title">
                            <div class="card-title">Kangaroo Valley Safari</div>
                            <div class="card-subtitle secondary-text">Free on Thursdays</div>
                        </div>

                    </div>

                </div>
                <!-- / PREVIEW -->

                <!-- SOURCE -->
                <div class="card-source mat-grey-200-bg" fxHide fxShow.gt-sm>
                    <fuse-hljs lang="html" class="source-code">
                        <textarea #source hidden="hidden">
                            <div class="fuse-card">

                                <div class="card-rich-media">
                                    <img src="assets/images/cards/card1.jpg">
                                </div>

                                <div class="card-primary-title">
                                    <div class="card-title">Kangaroo Valley Safari</div>
                                    <div class="card-subtitle secondary-text">Free on Thursdays</div>
                                </div>

                            </div>
                        </textarea>
                    </fuse-hljs>
                </div>
                <!-- / SOURCE -->

            </div>
            <!-- / CARD 5 -->

            <!-- CARD 6 -->
            <div class="card-row" fxLayout="row" fxLayoutAlign="center start" fxLayoutAlign.gt-sm="start start"
                 fxLayoutWrap>

                <!-- PREVIEW -->
                <div class="card-preview">

                    <div class="fuse-card">

                        <div class="card-rich-media">
                            <img src="assets/images/cards/card1.jpg">
                        </div>

                        <div class="card-supporting-text">
                            Cards provide context and an entry point to more robust information and views, and their
                            content and quantity can vary greatly.
                        </div>

                    </div>

                </div>
                <!-- / PREVIEW -->

                <!-- SOURCE -->
                <div class="card-source mat-grey-200-bg" fxHide fxShow.gt-sm>
                    <fuse-hljs lang="html" class="source-code">
                        <textarea #source hidden="hidden">
                            <div class="fuse-card">

                                <div class="card-rich-media">
                                    <img src="assets/images/cards/card1.jpg">
                                </div>

                                <div class="card-supporting-text">
                                    Cards provide context and an entry point to more robust information and views, and
                                    their content and quantity can vary greatly.
                                </div>

                            </div>
                        </textarea>
                    </fuse-hljs>
                </div>
                <!-- / SOURCE -->

            </div>
            <!-- / CARD 6 -->

            <!-- CARD 7 -->
            <div class="card-row" fxLayout="row" fxLayoutAlign="center start" fxLayoutAlign.gt-sm="start start"
                 fxLayoutWrap>

                <!-- PREVIEW -->
                <div class="card-preview">

                    <div class="fuse-card">

                        <div class="card-rich-media">
                            <div class="card-title">Top 10 Holiday Locations</div>
                            <img src="assets/images/cards/card3.jpg">
                        </div>

                        <div class="card-primary-title">
                            <div class="card-subtitle secondary-text">Number 10</div>
                        </div>

                        <div class="card-supporting-text">
                            Cards are a convenient means of displaying content composed of different elements.
                        </div>

                        <div class="card-actions">
                            <button mat-button color="accent">SHARE</button>
                            <button mat-button color="accent">EXPLORE</button>
                        </div>

                    </div>

                </div>
                <!-- / PREVIEW -->

                <!-- SOURCE -->
                <div class="card-source mat-grey-200-bg" fxHide fxShow.gt-sm>
                    <fuse-hljs lang="html" class="source-code">
                        <textarea #source hidden="hidden">
                            <div class="fuse-card">

                                <div class="card-rich-media">
                                    <div class="card-title">Top 10 Holiday Locations</div>
                                    <img src="assets/images/cards/card3.jpg">
                                </div>

                                <div class="card-primary-title">
                                    <div class="card-subtitle secondary-text">Number 10</div>
                                </div>

                                <div class="card-supporting-text">
                                    Cards are a convenient means of displaying content composed of different elements.
                                </div>

                                <div class="card-actions">
                                    <button mat-button color="accent">SHARE</button>
                                    <button mat-button color="accent">EXPLORE</button>
                                </div>

                            </div>
                        </textarea>
                    </fuse-hljs>
                </div>
                <!-- / SOURCE -->

            </div>
            <!-- / CARD 7 -->

            <!-- CARD 8 -->
            <div class="card-row" fxLayout="row" fxLayoutAlign="center start" fxLayoutAlign.gt-sm="start start"
                 fxLayoutWrap>

                <!-- PREVIEW -->
                <div class="card-preview">

                    <div class="fuse-card">

                        <div class="card-media-header">

                            <div class="card-primary-title">
                                <div class="card-subtitle secondary-text">Travel</div>
                                <div class="card-title">Big City Life</div>
                            </div>

                            <div class="card-rich-media">
                                <img src="assets/images/cards/card2-small.jpg">
                            </div>

                        </div>

                        <div class="card-supporting-text">
                            Cards provide context and an entry point to more robust information and views, and their
                            content and quantity can vary greatly.
                        </div>

                        <div class="card-actions">
                            <button mat-button color="accent">READ</button>
                            <button mat-button color="accent">SHARE</button>
                        </div>

                    </div>

                </div>
                <!-- / PREVIEW -->

                <!-- SOURCE -->
                <div class="card-source mat-grey-200-bg" fxHide fxShow.gt-sm>
                    <fuse-hljs lang="html" class="source-code">
                        <textarea #source hidden="hidden">
                            <div class="fuse-card">

                                <div class="card-media-header">

                                    <div class="card-primary-title">
                                        <div class="card-subtitle secondary-text">Travel</div>
                                        <div class="card-title">Big City Life</div>
                                    </div>

                                    <div class="card-rich-media">
                                        <img src="assets/images/cards/card2-small.jpg">
                                    </div>

                                </div>

                                <div class="card-supporting-text">
                                    Cards provide context and an entry point to more robust information and views, and
                                    their content and quantity can vary greatly.
                                </div>

                                <div class="card-actions">
                                    <button mat-button color="accent">READ</button>
                                    <button mat-button color="accent">SHARE</button>
                                </div>

                            </div>
                        </textarea>
                    </fuse-hljs>
                </div>
                <!-- / SOURCE -->

            </div>
            <!-- / CARD 8 -->

            <!-- CARD 9 -->
            <div class="card-row" fxLayout="row" fxLayoutAlign="center start" fxLayoutAlign.gt-sm="start start"
                 fxLayoutWrap>

                <!-- PREVIEW -->
                <div class="card-preview">

                    <div class="fuse-card">

                        <div class="card-rich-media">
                            <img src="assets/images/cards/card3.jpg">
                        </div>

                        <div class="card-primary-title">
                            <div class="card-title">Top Winter Locations</div>
                            <div class="card-subtitle secondary-text">More than 200 locations</div>
                        </div>

                        <div class="card-supporting-text">
                            Cards provide context and an entry point to more robust information and views, and their
                            content and quantity can vary greatly.
                        </div>

                        <div class="card-actions">
                            <button mat-button color="accent">SHARE</button>
                            <button mat-button color="accent">EXPLORE</button>
                            <div class="card-expander">
                                <button mat-icon-button aria-label="expand card"
                                        (click)="card9Expanded = !card9Expanded">
                                    <mat-icon *ngIf="card9Expanded">keyboard_arrow_up</mat-icon>
                                    <mat-icon *ngIf="!card9Expanded">keyboard_arrow_down</mat-icon>
                                </button>
                            </div>
                        </div>

                        <div class="card-expand-area" *ngIf="card9Expanded" [@expandCollapse]>
                            <div class="card-expanded-supporting-text">
                                Card content that exceeds the maximum card height is truncated and does not scroll, but
                                the card can be expanded. Once expanded, the card may exceed the maximum height of the
                                view. In this case, the card will scroll with the card collection.
                            </div>
                        </div>

                    </div>

                </div>
                <!-- / PREVIEW -->

                <!-- SOURCE -->
                <div class="card-source mat-grey-200-bg" fxHide fxShow.gt-sm>
                    <fuse-hljs lang="html" class="source-code">
                        <textarea #source hidden="hidden">
                            <div class="fuse-card">

                                <div class="card-rich-media">
                                    <img src="assets/images/cards/card3.jpg">
                                </div>

                                <div class="card-primary-title">
                                    <div class="card-title">Top Winter Locations</div>
                                    <div class="card-subtitle secondary-text">More than 200 locations</div>
                                </div>

                                <div class="card-supporting-text">
                                    Cards provide context and an entry point to more robust information and views, and
                                    their content and quantity can vary greatly.
                                </div>

                                <div class="card-actions">
                                    <button mat-button color="accent">SHARE</button>
                                    <button mat-button color="accent">EXPLORE</button>
                                    <div class="card-expander">
                                        <button mat-icon-button aria-label="expand card"
                                                (click)="card9Expanded = !card9Expanded">
                                            <mat-icon *ngIf="card9Expanded">keyboard_arrow_up</mat-icon>
                                            <mat-icon *ngIf="!card9Expanded">keyboard_arrow_down</mat-icon>
                                        </button>
                                    </div>
                                </div>

                                <div class="card-expand-area" *ngIf="card9Expanded" [@expandCollapse]>
                                    <div class="card-expanded-supporting-text">
                                        Card content that exceeds the maximum card height is truncated and does not
                                        scroll, but the card can be expanded. Once expanded, the card may exceed the
                                        maximum height of the view. In this case, the card will scroll with the card
                                        collection.
                                    </div>
                                </div>

                            </div>
                        </textarea>
                    </fuse-hljs>
                </div>
                <!-- / SOURCE -->

            </div>
            <!-- / CARD 9 -->

            <!-- CARD 10 -->
            <div class="card-row" fxLayout="row" fxLayoutAlign="center start" fxLayoutAlign.gt-sm="start start"
                 fxLayoutWrap>

                <!-- PREVIEW -->
                <div class="card-preview">

                    <div class="fuse-card">

                        <div class="card-rich-media">
                            <img src="assets/images/cards/card2.jpg">
                        </div>

                        <div class="card-primary-title">
                            <div class="card-title">Top eastern road trips</div>
                            <div class="card-subtitle secondary-text">2,000 miles of wonder</div>
                        </div>

                        <div class="card-actions">
                            <button mat-button color="accent">SHARE</button>
                            <button mat-button color="accent">EXPLORE</button>
                            <div class="card-expander">
                                <button mat-icon-button aria-label="expand card"
                                        (click)="card10Expanded = !card10Expanded">
                                    <mat-icon *ngIf="card10Expanded">keyboard_arrow_up</mat-icon>
                                    <mat-icon *ngIf="!card10Expanded">keyboard_arrow_down</mat-icon>
                                </button>
                            </div>
                        </div>

                        <div class="card-expand-area" *ngIf="card10Expanded" [@expandCollapse]>
                            <div class="card-expanded-supporting-text">
                                Card content that exceeds the maximum card height is truncated and does not scroll, but
                                the card can be expanded. Once expanded, the card may exceed the maximum height of the
                                view. In this case, the card will scroll with the card collection.
                            </div>
                        </div>

                    </div>

                </div>
                <!-- / PREVIEW -->

                <!-- SOURCE -->
                <div class="card-source mat-grey-200-bg" fxHide fxShow.gt-sm>
                    <fuse-hljs lang="html" class="source-code">
                        <textarea #source hidden="hidden">
                            <div class="fuse-card">

                                <div class="card-rich-media">
                                    <img src="assets/images/cards/card2.jpg">
                                </div>

                                <div class="card-primary-title">
                                    <div class="card-title">Top eastern road trips</div>
                                    <div class="card-subtitle secondary-text">2,000 miles of wonder</div>
                                </div>

                                <div class="card-actions">
                                    <button mat-button color="accent">SHARE</button>
                                    <button mat-button color="accent">EXPLORE</button>
                                    <div class="card-expander">
                                        <button mat-icon-button aria-label="expand card"
                                                (click)="card10Expanded = !card10Expanded">
                                            <mat-icon *ngIf="card10Expanded">keyboard_arrow_up</mat-icon>
                                            <mat-icon *ngIf="!card10Expanded">keyboard_arrow_down</mat-icon>
                                        </button>
                                    </div>
                                </div>

                                <div class="card-expand-area" *ngIf="card10Expanded" [@expandCollapse]>
                                    <div class="card-expanded-supporting-text">
                                        Card content that exceeds the maximum card height is truncated and does not
                                        scroll, but the card can be expanded. Once expanded, the card may exceed the
                                        maximum height of the view. In this case, the card will scroll with the card
                                        collection.
                                    </div>
                                </div>

                            </div>
                        </textarea>
                    </fuse-hljs>
                </div>
                <!-- / SOURCE -->

            </div>
            <!-- / CARD 10 -->

            <!-- CARD 11 -->
            <div class="card-row" fxLayout="row" fxLayoutAlign="center start" fxLayoutAlign.gt-sm="start start"
                 fxLayoutWrap>

                <!-- PREVIEW -->
                <div class="card-preview">

                    <div class="fuse-card">

                        <div class="card-avatar-header">
                            <img class="card-avatar" src="assets/images/avatars/Christy.jpg">

                            <div class="card-avatar-title">
                                <div class="card-title">Christy</div>
                                <div class="card-subtitle secondary-text">20 mins. ago</div>
                            </div>
                        </div>

                        <div class="card-rich-media">
                            <img src="assets/images/cards/card1.jpg">
                        </div>

                        <div class="card-primary-title">
                            <div class="card-title">Kangaroo Valley Safari</div>
                            <div class="card-subtitle secondary-text">Free on Thursdays</div>
                        </div>

                        <div class="card-supporting-text">
                            Cards provide context and an entry point to more robust information and views, and their
                            content and quantity can vary greatly.
                        </div>

                    </div>

                </div>
                <!-- / PREVIEW -->

                <!-- SOURCE -->
                <div class="card-source mat-grey-200-bg" fxHide fxShow.gt-sm>
                    <fuse-hljs lang="html" class="source-code">
                        <textarea #source hidden="hidden">
                            <div class="fuse-card">

                                <div class="card-avatar-header">
                                    <img class="card-avatar" src="assets/images/avatars/Christy.jpg">

                                    <div class="card-avatar-title">
                                        <div class="card-title">Christy</div>
                                        <div class="card-subtitle secondary-text">20 mins. ago</div>
                                    </div>
                                </div>

                                <div class="card-rich-media">
                                    <img src="assets/images/cards/card1.jpg">
                                </div>

                                <div class="card-primary-title">
                                    <div class="card-title">Kangaroo Valley Safari</div>
                                    <div class="card-subtitle secondary-text">Free on Thursdays</div>
                                </div>

                                <div class="card-supporting-text">
                                    Cards provide context and an entry point to more robust information and views, and
                                    their content and quantity can vary greatly.
                                </div>

                            </div>
                        </textarea>
                    </fuse-hljs>
                </div>
                <!-- / SOURCE -->

            </div>
            <!-- / CARD 11 -->

            <!-- CARD 12 -->
            <div class="card-row" fxLayout="row" fxLayoutAlign="center start" fxLayoutAlign.gt-sm="start start"
                 fxLayoutWrap>

                <!-- PREVIEW -->
                <div class="card-preview">

                    <div class="fuse-card">

                        <div class="card-rich-media">
                            <img src="assets/images/cards/card2.jpg">
                        </div>

                        <div class="card-actions icon-buttons align-right">
                            <button mat-icon-button aria-label="add to favorites">
                                <mat-icon>favorite</mat-icon>
                            </button>

                            <button mat-icon-button aria-label="bookmark">
                                <mat-icon>bookmark</mat-icon>
                            </button>

                            <button mat-icon-button aria-label="send location">
                                <mat-icon>location_on</mat-icon>
                            </button>
                        </div>

                    </div>

                </div>
                <!-- / PREVIEW -->

                <!-- SOURCE -->
                <div class="card-source mat-grey-200-bg" fxHide fxShow.gt-sm>
                    <fuse-hljs lang="html" class="source-code">
                        <textarea #source hidden="hidden">
                            <div class="fuse-card">

                                <div class="card-rich-media">
                                    <img src="assets/images/cards/card2.jpg">
                                </div>

                                <div class="card-actions icon-buttons align-right">
                                    <button mat-icon-button aria-label="add to favorites">
                                        <mat-icon>favorite</mat-icon>
                                    </button>

                                    <button mat-icon-button aria-label="bookmark">
                                        <mat-icon>bookmark</mat-icon>
                                    </button>

                                    <button mat-icon-button aria-label="send location">
                                        <mat-icon>location_on</mat-icon>
                                    </button>
                                </div>

                            </div>
                        </textarea>
                    </fuse-hljs>
                </div>
                <!-- / SOURCE -->

            </div>
            <!-- / CARD 12 -->

            <!-- CARD 13 -->
            <div class="card-row" fxLayout="row" fxLayoutAlign="center start" fxLayoutAlign.gt-sm="start start"
                 fxLayoutWrap>

                <!-- PREVIEW -->
                <div class="card-preview">

                    <div class="fuse-card variable-width">

                        <div class="card-rich-media">
                            <div class="card-title">Winter</div>
                            <img src="assets/images/cards/card3-square.jpg">
                        </div>

                        <div class="card-actions icon-buttons align-center">
                            <button mat-icon-button aria-label="add to favorites">
                                <mat-icon>favorite</mat-icon>
                            </button>

                            <button mat-icon-button aria-label="bookmark">
                                <mat-icon>bookmark</mat-icon>
                            </button>

                            <button mat-icon-button aria-label="send location">
                                <mat-icon>location_on</mat-icon>
                            </button>
                        </div>

                    </div>

                </div>
                <!-- / PREVIEW -->

                <!-- SOURCE -->
                <div class="card-source mat-grey-200-bg" fxHide fxShow.gt-sm>
                    <fuse-hljs lang="html" class="source-code">
                        <textarea #source hidden="hidden">
                            <div class="fuse-card">

                                <div class="card-rich-media">
                                    <div class="card-title">Winter</div>
                                    <img src="assets/images/cards/card3-square.jpg">
                                </div>

                                <div class="card-actions icon-buttons align-center">
                                    <button mat-icon-button aria-label="add to favorites">
                                        <mat-icon>favorite</mat-icon>
                                    </button>

                                    <button mat-icon-button aria-label="bookmark">
                                        <mat-icon>bookmark</mat-icon>
                                    </button>

                                    <button mat-icon-button aria-label="send location">
                                        <mat-icon>location_on</mat-icon>
                                    </button>
                                </div>

                            </div>
                        </textarea>
                    </fuse-hljs>
                </div>
                <!-- / SOURCE -->

            </div>
            <!-- / CARD 13 -->

            <!-- CARD 14 -->
            <div class="card-row" fxLayout="row" fxLayoutAlign="center start" fxLayoutAlign.gt-sm="start start"
                 fxLayoutWrap>

                <!-- PREVIEW -->
                <div class="card-preview">

                    <div class="fuse-card">

                        <div class="card-media-header">

                            <div class="card-primary-title">
                                <div class="card-title">Brooklyn</div>
                                <div class="card-subtitle secondary-text">Travel guide</div>
                            </div>

                            <div class="card-rich-media">
                                <img src="assets/images/cards/card2-small.jpg">
                            </div>

                        </div>

                        <div class="card-actions">
                            <button mat-button color="accent">READ</button>
                            <button mat-button color="accent">SHARE</button>
                        </div>

                    </div>

                </div>
                <!-- / PREVIEW -->

                <!-- SOURCE -->
                <div class="card-source mat-grey-200-bg" fxHide fxShow.gt-sm>
                    <fuse-hljs lang="html" class="source-code">
                        <textarea #source hidden="hidden">
                            <div class="fuse-card">

                                <div class="card-media-header">

                                    <div class="card-primary-title">
                                        <div class="card-title">Brooklyn</div>
                                        <div class="card-subtitle secondary-text">Travel guide</div>
                                    </div>

                                    <div class="card-rich-media">
                                        <img src="assets/images/cards/card2-small.jpg">
                                    </div>

                                </div>

                                <div class="card-actions">
                                    <button mat-button color="accent">READ</button>
                                    <button mat-button color="accent">SHARE</button>
                                </div>

                            </div>
                        </textarea>
                    </fuse-hljs>
                </div>
                <!-- / SOURCE -->

            </div>
            <!-- / CARD 14 -->

            <!-- CARD 15 -->
            <div class="card-row" fxLayout="row" fxLayoutAlign="center start" fxLayoutAlign.gt-sm="start start"
                 fxLayoutWrap>

                <!-- PREVIEW -->
                <div class="card-preview">

                    <div class="fuse-card">

                        <div class="card-media-header medium">

                            <div class="card-primary-title">
                                <div class="card-title">Brooklyn</div>
                                <div class="card-subtitle secondary-text">Travel guide</div>
                            </div>

                            <div class="card-rich-media">
                                <img src="assets/images/cards/card2-medium.jpg">
                            </div>

                        </div>

                        <div class="card-actions">
                            <button mat-button color="accent">READ</button>
                            <button mat-button color="accent">SHARE</button>
                        </div>

                    </div>

                </div>
                <!-- / PREVIEW -->

                <!-- SOURCE -->
                <div class="card-source mat-grey-200-bg" fxHide fxShow.gt-sm>
                    <fuse-hljs lang="html" class="source-code">
                        <textarea #source hidden="hidden">
                            <div class="fuse-card">

                                <div class="card-media-header medium">

                                    <div class="card-primary-title">
                                        <div class="card-title">Brooklyn</div>
                                        <div class="card-subtitle secondary-text">Travel guide</div>
                                    </div>

                                    <div class="card-rich-media">
                                        <img src="assets/images/cards/card2-medium.jpg">
                                    </div>

                                </div>

                                <div class="card-actions">
                                    <button mat-button color="accent">READ</button>
                                    <button mat-button color="accent">SHARE</button>
                                </div>

                            </div>
                        </textarea>
                    </fuse-hljs>
                </div>
                <!-- / SOURCE -->

            </div>
            <!-- / CARD 15 -->

            <!-- CARD 16 -->
            <div class="card-row" fxLayout="row" fxLayoutAlign="center start" fxLayoutAlign.gt-sm="start start"
                 fxLayoutWrap>

                <!-- PREVIEW -->
                <div class="card-preview">

                    <div class="fuse-card">

                        <div class="card-media-header large">

                            <div class="card-primary-title">
                                <div class="card-title">Brooklyn</div>
                                <div class="card-subtitle secondary-text">Travel guide</div>
                            </div>

                            <div class="card-rich-media">
                                <img src="assets/images/cards/card2-large.jpg">
                            </div>

                        </div>

                        <div class="card-actions">
                            <button mat-button color="accent">READ</button>
                            <button mat-button color="accent">SHARE</button>
                        </div>

                    </div>

                </div>
                <!-- / PREVIEW -->

                <!-- SOURCE -->
                <div class="card-source mat-grey-200-bg" fxHide fxShow.gt-sm>
                    <fuse-hljs lang="html" class="source-code">
                        <textarea #source hidden="hidden">
                            <div class="fuse-card">

                                <div class="card-media-header large">

                                    <div class="card-primary-title">
                                        <div class="card-title">Brooklyn</div>
                                        <div class="card-subtitle secondary-text">Travel guide</div>
                                    </div>

                                    <div class="card-rich-media">
                                        <img src="assets/images/cards/card2-large.jpg">
                                    </div>

                                </div>

                                <div class="card-actions">
                                    <button mat-button color="accent">READ</button>
                                    <button mat-button color="accent">SHARE</button>
                                </div>

                            </div>
                        </textarea>
                    </fuse-hljs>
                </div>
                <!-- / SOURCE -->

            </div>
            <!-- / CARD 16 -->

        </div>

    </div>
    <!-- / CONTENT -->

</div>