.contact-form-dialog {

    .mat-dialog-container {
        padding: 0;
        width: 400px;

        .toolbar-bottom {
            height: 200px;
        }
    }
}

:host {
    display: flex;
    flex-direction: column;
}
