<mat-list>
    <h3 matSubheader>Folders</h3>
    <mat-list-item *ngFor="let folder of folders">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 matLine>{{folder.name}}</h4>
        <p matLine> {{folder.updated | date}} </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 matSubheader>Notes</h3>
    <mat-list-item *ngFor="let note of notes">
        <mat-icon mat-list-icon>note</mat-icon>
        <h4 matLine>{{note.name}}</h4>
        <p matLine> {{note.updated | date}} </p>
    </mat-list-item>
</mat-list>
