@import "src/@fuse/scss/fuse";

horizontal-layout-1 {
    display: flex;
    flex: 1 1 auto;
    width: 100%;

    #main {
        position: relative;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        width: 100%;
        z-index: 1;

        // Container 1
        > .container {
            position: relative;
            display: flex;
            flex: 1 1 auto;
            width: 100%;

            // Container 2
            > .container {
                position: relative;
                display: flex;
                flex: 1 1 auto;
                flex-direction: column;
                min-width: 0;

                // Container 3 (Scrollable)
                > .container {
                    position: relative;
                    display: flex;
                    flex: 1 1 auto;
                    flex-direction: column;
                    transform: translateZ(0);

                    &.container-scroll {
                        overflow-x: hidden;
                        overflow-y: auto;

                        // Content component
                        content {
                            flex: 1 0 auto;

                            > *:not(router-outlet) {
                                flex: 1 0 auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

vertical-layout-111 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    /* > .mat-sidenav-container {
         display: flex;
         flex: 1;

         > .mat-sidenav-content,
         > .mat-drawer-content {
             display: flex;
             flex: 1;
             overflow: hidden;
             height: 100vh;*/

    @include media-breakpoint-down('sm') {
        height: auto !important;
    }

    #main-content {
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow: hidden;
        background: #FAFAFA;

        #wrapper {
            display: flex;
            position: relative;
            flex: 1;
            overflow: hidden;

            .content-wrapper {
                display: flex;
                flex-direction: column;
                flex: 1;
                overflow: hidden;

                content {
                    position: relative;
                    display: flex;
                    flex: 1;
                    flex-direction: row;
                    width: 100%;
                    overflow: hidden;

                    > *:not(router-outlet):not(.ps__scrollbar-x-rail):not(.ps__scrollbar-y-rail) {
                        display: flex;
                        flex: 1;
                        width: 100%;
                        min-width: 100%;
                    }

                    > *.ng-animating {

                        .mat-tab-body {
                            height: 100vh;
                        }
                    }
                }
            }
            //}
            //}
        }
    }

    &[fuse-layout-mode="boxed"] {
        max-width: 1200px;
        margin: 0 auto;
        @include mat-elevation(8);
    }
}
