<div fxFlex fxLayout="column" fxLayoutAlign="center center">

    <div class="big-circle mat-elevation-z1" fxLayout="column" fxLayoutAlign="center center">

        <md-icon class="s-64 s-md-128">chat</md-icon>

    </div>

    <span class="app-title my-24">Chat App</span>

    <span fxHide fxShow.gt-md class="app-message">Select contact to start the chat!..</span>

    <button md-raised-button fxHide.gt-md class="" fuseMdSidenavToggler="chat-left-sidenav">
        Select contact to start the chat!..
    </button>

</div>
