// Import Fuse main library
@import "app/core/scss/core";

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {

    &.fuse-nav-bar-folded {

        .content-wrapper {
            padding-left: 64px;
        }
    }
}
