<form fxLayout="column" [formGroup]="leaveDetailsForm" *ngIf="leaveDetailsForm">

    <div fxFlex="1 0 auto" fxLayout="column">

        <mat-radio-group class="leaveTypesGroup" formControlName="leaveType" required>
            <div class="h3"><mat-label>Leave type</mat-label></div>
            <mat-radio-button class="leaveTypesButton" *ngFor="let type of types" [value]="type"
                              checked="{{type === leaveDetails.leaveType}}" required>
                {{type}}
            </mat-radio-button>
        </mat-radio-group>

        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Start date</mat-label>
            <input matInput (dateInput) = "getStartDate($event)" [matDatepicker] ="startPicker"
                   [min]="startMinDate" [max]="startMaxDate" (click)="assignMaxDate()" formControlName="startDate"
                   [value]="startedDate.value" required>
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
            <mat-error>Start date is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>End date</mat-label>
            <input matInput (dateInput) = "getEndDate($event)" formControlName = "endDate" [matDatepicker]="endPicker"
                   [min]="endMinDate" (click)="assignMinDate()" [value]="endedDate.value" required>
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
            <mat-error>End date is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Comments</mat-label>
            <textarea matInput formControlName="comments"></textarea>
            <mat-icon matSuffix class="secondary-text">comment</mat-icon>
        </mat-form-field>

        <table>
            <tr>
                <th class="header" colspan="2">Casual</th>
                <th class="header" colspan="2">Medical</th>
                <th class="header" colspan="2">Vacation</th>
            </tr>
            <tr>
                <th>Taken</th>
                <th>Remaining</th>
                <th>Taken</th>
                <th>Remaining</th>
                <th>Taken</th>
                <th>Remaining</th>
            </tr>
            <tr>
                <td>{{leaveDetails.casual}}</td>
                <td>{{leaveDetails.remainingCasual}}</td>
                <td>{{leaveDetails.medical}}</td>
                <td>{{leaveDetails.remainingMedical}}</td>
                <td>{{leaveDetails.vacation}}</td>
                <td>{{leaveDetails.remainingVacation}}</td>
            </tr>
        </table>

    </div>

</form>